body {
    background-color: black;
}

.num1 {
    font-size: 150px;
    color: #3F0D12;
    position: absolute;
    animation: move1 10s infinite;
    /* transform-style: preserve-3d; */
    z-index: 1;
    top: 30px;
    left: 120px;
}

@keyframes move1 {
    50% {
        transform: scale(1.5);
    }
}

.num2 {
    font-size: 150px;
    font-weight: bold;
    color: #303036;
    position: absolute;
    animation: move2 12s infinite;
    transform: rotate(45deg);
    z-index: 1;
    top: 30px;
    right: 120px;
}

@keyframes move2 {
    50% {
        transform: rotateY(360deg);
    }
}

.num3 {
    font-size: 110px;
    color: #303036;
    position: absolute;
    animation: move2 10s infinite;
    transform: rotate(-45deg);
    z-index: 1;
    bottom: 100px;
    right: 200px;
}

@keyframes move2 {
    50% {
        transform: rotateY(360deg);
    }
}

label {
    width: 100px;
    height: 28px;
    display: inline-block;
    font-size: 26px;
}

.main {
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 2;
}

fieldset {
    width: 500px;
    margin: auto;
    border: 3px double #FFFAFF;
    border-radius: 10px;
    /* box-shadow: 5px 5px 3px #999; */
    text-align: center;
    margin-top: 100px;
    background-color: black;
}

div {
    margin: auto;
}

legend {
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #999;
    color: #FFFAFF;
}

input[type="text"] {
    font-size: 26px;
    outline: none;
    color: #3f342f;
    border: 1px solid #3f342f;
    border-radius: 3px;

    text-align: center;
    margin: 10px;
}

span {
    display: block;
    color: #FFFAFF
}

input[type="text"]:hover {
    box-shadow: 3px 3px 5px #FFFAFF;
    color: #A71D31
}

input[type="button"] {
    background-color: #FFFAFF;
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    outline: none;
}

input[type="button"]:hover {
    background-color: #A71D31;
    color: white;
}

#guess_result {
    color: #FC5130;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 50px;
}